body {
  background: #202020;
  color: white;
}

.imagen-logo {
  cursor: pointer;
  transition: all ease;
}

.imagen-logo:hover {
  transform: scale(1.1);
  opacity: 0.8; /* Cambia la opacidad al 80% */
}
